*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  height: 100vh;
  width: 100%;
  background-color: #05041d;
}
#title{
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
  transition: all 0.5s;
}
#btn-theme{
  text-align: center;
}
.buttonTheme{
  background-color: #ffffff;
  color: #000000;
  border: 2px solid transparent;
  border-radius: 15px;
}
.buttonTheme:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}
#mainBtn{
  min-width: 100%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
}
#calculos{
  background-color: transparent;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  text-align: end;
  border: none;
  height: 8vh;
  width: 62vh;
}
#span{
  margin-top: 30px;
  margin-bottom: 0px;
}
#apagar{
  border: 3px solid black;
  background-color: #201f1f;
  color: white;
  font-size: 15px;
  height: 8vh;
  width: 7vh;
  border-radius: 10px;
}
#inputHistoric{
  resize: none;
  border-radius: 15px ;
  border: 2px solid transparent;
  background-color: #ffffff;
  font-size: 29px;
  color: black;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Btnbg{
  border: 3px solid black;
  background-color: #201f1f;
  color: white;
  text-align: center;
  padding: 0px;
  font-size: 35px;
  margin: 2px;
  height: 11vh;
  width: 15vh;
  border-radius: 35px;
}
.Btnbg:hover{
  transition: 0.3s;
  background-color: black;
}
#clear{
  background-color: #949494;
  color: black;
}
#clear:hover{
  transition: 0.2s;
  background-color: #000000;
  color: white;
}
#abreParentese{
  background-color: #949494;
  color: black;
}
#abreParentese:hover{
  transition: 0.2s;
  background-color: black;
  color: white;
}
#fechaParentese{
  background-color: #949494;
  color: black;
}
#fechaParentese:hover{
  transition: 0.2s;
  background-color: black;
  color: white;
}
#divisao{
  color: white;
  background-color: orange;
}
#divisao:hover{
  transition: 0.2s;
  background-color: white;
  color: black;
}
#multi{
  color: white;
  background-color: orange;
}
#multi:hover{
  transition: 0.2s;
  background-color: white;
  color: black;
}
#sub{
  color: white;
  background-color: orange;
}
#sub:hover{
  transition: 0.2s;
  background-color: white;
  color: black;
}
#soma{
  color: white;
  background-color: orange;
}
#soma:hover{
  transition: 0.2s;
  background-color: white;
  color: black;
}
#igual{
  color: white;
  background-color: orange;
}
#igual:hover{
  transition: 0.2s;
  background-color: white;
  color: black;
}
#copy{
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
  color: white;
  transition: all 0.3s;
}

@media(max-width: 450px){
  #calculos{
    width: 32vh;
  }
  .Btnbg{
    border-radius: 65px;
    font-size: 25px;
    height: 9vh;
    width: 10vh;
  }
}